# Core functionality - changes here should be rare!
/src/app.py                   @NelsonFodjo
/src/backend/database.py      @NelsonFodjo
/src/backend/routers/auth.py  @NelsonFodjo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NelsonFodjo
